# .htaccess
Options -Indexes
RewriteEngine On

# Tüm istekleri index.php üzerinden yönlendirme
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
